.fileDocx{
    cursor: pointer;
}
.fileOver{
    display: block;
}
.fileOut{
    display: none;
}
.fileDocx:hover > .fileOver{
    display: none;
    
}
.fileDocx:hover > .fileOut{
    display: block;
    
}