#printer{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.printer{
    width: 30px;
    float: right;
}
.printOver{
    display: block;
}
.printOut{
    display: none;
}
.printer:hover > .printOver{
    display: none;
    
}
.printer:hover > .printOut{
    display: block;
    
}